<h2 class="font-bold mb-2 text-center text-lg mt-4 text-[#f039b1]">{{title | titlecase }}</h2>
<div class="flex w-[90%] mx-auto my-[50px] gap-[50px] flex-wrap border-[#e305ad] border-[1px] justify-around rounded-md p-[20px]">
    <ng-container *ngFor="let quiz of quizzes">
        <div class="w-[300px] px-[10px]">
            <app-quiz-item
                    [quiz_id]="quiz.quiz_id"
                    [quiz_name]="quiz.quiz_name"
            >
            </app-quiz-item>
            <div class="flex w-[300px] justify-around gap-[10px] mt-[20px]">
                <app-button
                        class="block bg-transparent hover:bg-[#f039b1] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                        [text]="'Delete quiz'"
                        (btnClick)="onDelete(quiz.quiz_id)"
                        [isDisabled]="false"
                ></app-button>
                <app-button
                        class="block bg-transparent hover:bg-[#f039b1] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                        [text]="'Update quiz'"
                        (btnClick)="goToPage('/update-quiz', 'quiz_id', quiz.quiz_id)"
                        [isDisabled]="false"
                ></app-button>

            </div>
        </div>
    </ng-container>
</div>
