<div>
  <label class="ml-[25px] text-[#f039b1]">{{ label }}</label>
  <ng-container *ngIf="isFormControl && formControl">
    <input [formControl]="formControl" type="type"
           class="placeholder:italic placeholder:text-slate-400 mx-auto my-[20px] block bg-white w-[90%] border border-[#f039b1] rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-#e305ad focus:ring-sky-500 focus:ring-1 sm:text-sm"
           style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"
    />
  </ng-container>
</div>
