<app-button
  class="bg-transparent hover:bg-[#f039b1] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
  [text]="'Edit user'"
  (btnClick) = "showDialog()"
  [isDisabled]="false"
></app-button>
<app-modal id="modal_1" class="hhidden">
  <h2 class="font-bold mb-2 text-center text-lg mt-4 text-[#f039b1]">Update User</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let field of editFields">
      <app-input
        [label]="field.label"
        [control]="form.get(field.name)"
        [type]="field.type"
      ></app-input>
    </ng-container>
    <div class="flex justify-around">
      <app-button
        class="bg-transparent hover:bg-[#f039b1] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
        style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" [isDisabled]="loading" btnClick="onSubmit()" text="Save">
      </app-button>
      <app-button
        class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
        [text]="'Close'"
        (btnClick)="closeDialog()"
        [isDisabled]="false"
      ></app-button>
    </div>
  </form>
</app-modal>

