<h2 class="font-bold mb-2 text-center text-lg mt-4 text-[#f039b1]">{{title | titlecase }}</h2>
<ng-container *ngIf="isCurrentUserOwner">
    <div class=" mx-auto my-[20px] block w-[90%] text-center flex justify-around">
        <app-button
                class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                [text]="'Member'"
                (btnClick)="goToPage('/company-members')"
                [isDisabled]="false"></app-button>
        <app-button
                class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                [text]="'Invites'"
                (btnClick)="goToPage('/company-invites')"
                [isDisabled]="false"></app-button>
        <app-button
                class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                [text]="'Requests'"
                (btnClick)="goToPage('/company-requests')"
                [isDisabled]="false"></app-button>
        <app-button
                class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                [text]="'Admins'"
                (btnClick)="goToPage('/company-admins')"
                [isDisabled]="false"></app-button>
    </div>
</ng-container>
<div>
    <ng-container *ngIf="company$ | async as company">
        <div class="mx-auto w-[75%] border-[#e305ad] border-[1px] mx-auto my-[50px] rounded-md ">
            <div>
                <img class="w-[500px] mx-auto" src="../../../../assets/defoult-company-avatar.png" alt="copany_img">
            </div>
            <div class="text-[#f039b1] text-lg text-center">
                <p>Name:  {{company.company_name}}</p>
                <p>description: {{company.company_description}}</p>
            </div>
        </div>
        <ng-container *ngIf="{ members: members$ | async, user: user$ | async } as data">
            <ng-container
                    *ngIf="data.user && data.members && !isCurrentUserMember && !isCurrentUserOwner">
                <div class="flex text-center w-[20%] justify-between mx-auto my-[50px]">
                    <app-button
                            class="block mx-auto bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                            [text]="'Send Request'"
                            (btnClick)="onSendRequest()"
                            [isDisabled]="false"
                    ></app-button>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="isCurrentUserMember || isCurrentUserOwner">
            <div class="flex w-[50%] justify-between mx-auto my-[50px]">
                <ng-container  *ngIf="isCurrentUserOwner">
                    <app-button
                            class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                            [text]="'Delete company'"
                            (btnClick)="onDeleteCompany()"
                            [isDisabled]="false"
                    ></app-button>
                    <app-company-update-modal></app-company-update-modal>
                    <app-send-invite-modal></app-send-invite-modal>
                    <app-create-quiz-modal></app-create-quiz-modal>
                </ng-container>

                <app-button
                        class="bg-transparent hover:bg-[#f039b1] mt-[-5px] text-[#f039b1] font-semibold hover:text-[white] py-2 px-4 border border-[#e305ad] hover:border-transparent rounded"
                        [text]="'Quiz'"
                        (btnClick)="goToPage('/company-quiz', isCurrentUserMember, isCurrentUserOwner)"
                        [isDisabled]="false"></app-button>
            </div>
        </ng-container>
    </ng-container>
</div>
