
.sshow {
  display: block;
}

.hhidden {
  display: none;
}

.mmodal {
  overflow-scrolling: auto;
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 400px;
  min-width: 500px;
}

.mmodal-body {
  overflow-scrolling: auto;
  border-radius: 10px;
  background: #fff;
  padding: 5px;
}

.mmodal-background {
  overflow-scrolling: auto;
  z-index: 900;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.95;
}

.chosen{
  display: block;
  color: white;
  background-color: #f039b1;
  font-weight: normal;
  padding: 2px 4px;
  border: 1px solid #e305ad;
}

.default {
  display: block;
  background: transparent;
  color: #f039b1;
  font-weight: normal;
  padding: 2px 4px;
  border: 1px solid #e305ad;
  border-radius: 10px;
}

.default:hover{
  background-color: #f039b1;
  color: white;
  border: transparent;
}
